html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

.mBottom16 {
  margin-bottom: 16px;
}

.mTop16 {
  margin-top: 16px;
}

.mg8 {
  margin: 0 8px;
}

.alignCenter {
  text-align: center;
}
